PROJECT_NAME=yuuki
HOSTNAME=localhost
FRONTEND_HOST=http://localhost:3000

# Backend
BACKEND_CORS_ORIGINS=http://localhost,http://localhost:8000
SECRET_KEY=yoursecretkey

# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"